* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham Rounded", sans-serif;
  height: 200vh;
  background: #151418;
  color: #f6f6f6;
}

.top-container {
  display: flex;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
}

nav button {
  border: none;
  margin: 0 0.5rem;
  color: rgb(246, 246, 246);
  background: none;
  cursor: pointer;
}

.control-buttons button:hover {
  color: rgb(135, 57, 250);
}

.sticky {
  background: rgba(0, 0, 0, 0.725);
  backdrop-filter: blur(4px);
  transition: background 0.45s ease 0s;
}

.sticky button {
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: 100;
}

.home-btn img {
  position: absolute;
  top: 10px;
  height: 60px;
  max-width: 100%;
}

.logo svg {
  position: absolute;
  top: 7px;
  left: 80px;
  height: 70px;
  width: 70px;
  z-index: -1;
}

.content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100% auto;
  grid-template-areas:
    "LeftCol RightCol"
    "LeftCol RightCol";
  padding: 20px 40px;
}

.left-column {
  grid-area: LeftCol;
  height: auto;
}

.choices-container {
  /* height: 50vh; */
  background: #242329;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-weight: 350;
  margin-bottom: 2rem;
}

.choices-container a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 20px 10px;
  border-bottom: 3px solid #242329;
}

.choices-container a:hover {
  border-bottom: 3px solid #fff;
}

#search-bar {
  width: 100%;
  font-size: 18px;
  color: #fff;
  padding: 10px 20px 10px 40px;
  border-radius: 10px;
  border: 2px solid #242329;
  background: url("./assets/magnifying-glass.svg") no-repeat 10px 10px;
  background-size: 20px 20px;
  background-color: rgba(224, 224, 224, 0.2);
}

#search-bar input:focus,
#search-bar:focus {
  outline: none;
}

.subject-list {
  margin-top: 1rem;
  list-style-type: none;
  font-size: 18px;
  background-color: #242329;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.subject-list li {
  background: url("./assets/dir.svg") no-repeat 10px 10px;
  background-size: 35px 35px;
}

.subject-list a {
  display: block;
  padding: 15px 20px 15px 50px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  font-weight: 350;
}
